.platzmacher{
    padding-top: 200px;
    padding-bottom: 200px;}
.logoFW6{
    width: 65px; 
    height: 31px;}
.Hauptbild{
    height: 650px; 
    width: 1000px;}
.aktiv{
    background-color:
    rgb(188, 173, 109);}
.Karte{
    border: 0;
    display: flex;
    justify-content: flex-start; 
    margin-left: 100px;}
.infoText{
    font-family: "Lucida Console";
    font-size: 19px; 
    text-align: justify; 
    width: 300px; 
    height: 400px;
    position: absolute;
    top: 330px;
    left: 680px;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s ease-in;}
.Notizbuch{ 
    position: absolute;
    top: 275px;
    left: 605px; 
    width: 450px; 
    height: 350px;}
.ButtonInfoText{
    height: 60px;
    width: 170px;
    font-size: 35px;
    color: rgb(255, 255, 255); 
    background-color: rgb(221, 213, 184); 
    border: none ;
    border-radius: 5px;
    position: absolute;
    left: 850px;
    text-align: center;
    top: 615px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1;
    visibility: hidden; 
    outline: none}
.mySlides{
    display: none;}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;}
.text {
  color: rgb(188, 173, 109);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;}
.numbertext {
  color: rgb(221, 213, 184);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;}
.active, .dot:hover {
  background-color: #717171;}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;}
  #kleinA{
    display: none;}


  .navMenü{
    display: flex;
    align-items: center;
    background-color: rgb(221, 213, 184);
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    transition: 0.3s ease;}
.navMenü li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.3vh;
    border: 1px solid rgb(188, 173, 109);
    height: 25vh;
    width: 100vh;}
.navMenü li a {
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    display: block;
    height: 20vh;
    text-align: center;}
.navMenü li:hover {
    background-color: rgb(188, 173, 109);}
#Vollmenu {
    display: flex;
    align-items: center;
    background-color: rgb(221, 213, 184);
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;}
#Vollmenu li {
    list-style: none;
    display: inline-block;}
.toggle-button {
    display: none;
    position: absolute;
    background-color: transparent;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    background: transparent;
    border: none;
    z-index: 1000;}
.toggle-container {
    display: none;}
.navMenü.active {
    left: 0;}
#Bildkarte-klein{
    display: none;}

@media (max-width: 1200px) {
    h1, h2 {
        font-size: 30px;}
    .toggle-button{
        display: none;}
    .nav-Menü{
        display: block}}

@media (max-width: 768px) {
    .platzmacher {
        padding-top: 100px;
        padding-bottom: 100px;}
    #Vollmenu{
        display: none;}
    .navMenü {
        left: -100%;}
    .toggle-button {
        display: block;}
    .navMenü li a {
        font-size: 30px;
        padding: 15px;
        width: 100%;
        height: 20vh;
        max-height: 35px;}
    .logoFW6 {
        width: 50px;}
    .navMenü.active {
        left: 0;}
    .logoFW6Static{
        position: absolute;
        z-index: 1;
        left: 5%;
        top: 25px;
        width: 70px;}
    .toggle-container {
        display: block;
        background-color: rgb(202, 192, 148);
        padding: 10px;
        height: 60px;
        text-align: center;}
    .Karte{
        display: none;}
    .kleinA{
        display: block;}
    .Notizbuch{ 
        position: absolute;
        top: 450px;
        left: 0px; 
        width: 350px; 
        height: 350px;}
    .vor, .nach {
        display: none;}
    .infoText{
        font-size: 16px; 
        width: 235px; 
        height: 400px;
        top: 510px;
        left: 50px;}
    .ButtonInfoText{
        height: 60px;
        width: 170px;
        font-size: 35px;
        left: 105px;
        top: 800px;}
    #Trennung{
        margin-top: 800px;}
    #Bildkarte-klein{
        display: block;
        position: absolute;
        left: 20px;}
    h1, h2, h4{
        font-size: 25px;}
    h3{
        font-size: 15px;}
    footer{
        width: 80%;
        font-size: 15px}
    div, p, button{
        font-size: 17px;}
    th{
        font-size: 15px;
        max-width: 60%;
        padding: 25px 5px;}}


html,body{
overflow-x: hidden;}

body{
    background-color: rgb(50, 51, 52);
    margin: 0;
    color: white; 
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;}
li{
    float: left;}
li a{ 
    padding: 14px 16px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 35px;}
li a:hover{
    background-color: rgb(188, 173, 109);}
ul{
    list-style-type: none; 
    background-color: rgb(221, 213, 184);
    overflow: hidden;
    padding: 0px;
    margin: 0px;}
img{vertical-align: middle;}

footer{
    background-color: rgb(188, 173, 109); 
    padding: 5px; 
    width: 100%; 
    font-size: 20px;
    position: absolute;}
hr{
    margin-top: 70px;
    width: 90%;
    border-color: rgb(188, 173, 109);}

table{margin: 0px 100px 200px 100px;
    display: block; position: relative;}

p{
    color:black}

button:hover{
    border: none ;background-color: rgb(188, 173, 109);}