.platzmacher {
    padding-top: 200px;
    padding-bottom: 200px;}
.logoFW6 {
    width: 65px;
    height: 34px;}
.Hauptbild {
    height: auto;
    width: 80%;}
.aktiv {
    background-color: rgb(188, 173, 109);}
.slideshow {
    display: none;}
.textContainer {
    width: 55%;
    text-align: justify;}
.slideContainer {
    width: 78%;}
.slideContainer, .textContainer {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;}
.vor, .nach {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: rgb(188, 173, 109);
    border-radius: 3px;
    font-size: 18px;
    user-select: none;
    transform: translateY(-50%);}
.vor {
    left: 10px;}
.nach {
    right: 10px;}
.vor:hover, .nach:hover{
    background-color: rgb(81, 82, 83)}
.fade{
    animation-name: fade;
    animation-duration: 2s;}
.inline-container{
    display: flex;
    align-items: center;
    justify-content: center;}
.SatzZufall{
    border: 2px solid transparent ;
    border-radius: 10px;
    background-color: rgb(221, 213, 184);
    font-size: 25px;
    color: white;}
.SatzZufall:hover{ 
    background-color: rgb(188, 173, 109);}
.CookiesBlock{
    height: auto;
    width: 18%;
    z-index: 1;
    display: block;
    left: 0px;
    bottom: 0px;
    font-size: 12px;
    border: 2px solid;
    border-color: rgba(188, 173, 109, 0.9);
    position: fixed;
    background-color: rgb(81, 82, 83);
    animation: slideIn 0.5s ease-out forwards;}
.navMenü{
    display: flex;
    align-items: center;
    background-color: rgb(221, 213, 184);
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    transition: 0.3s ease;}
.navMenü li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.3vh;
    border: 1px solid rgb(188, 173, 109);
    width: 100vh;}
.navMenü li a {
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    display: block;
    height: 20vh;
    text-align: center;}
#Vollmenu {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: rgb(221, 213, 184);
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;}
#Vollmenu li {
    list-style: none;
    display: inline-block;}
.navMenü li:hover {
    background-color: rgb(188, 173, 109);}
.logout-Container{
    margin-left: auto;}
.logout{
    width: 53px;
    height: 40px;
    margin-top: -8px;
    cursor: pointer;}
.navMenü li:hover {
    background-color: rgb(188, 173, 109);}
.toggle-button {
    display: none;
    position: absolute;
    background-color: transparent;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    background: transparent;
    border: none;
    z-index: 1000;}
.toggle-container {
    display: none;}
.navMenü.active {
    left: 0;
    max-width: 100vh;}
.TabelleContainer{
    display: flex;
    justify-content: center;
    align-items: center;}
    
#Schließen{    
    background: none;
    border: none;
    color: rgb(188, 173, 109);
    font-weight: bold;
    cursor: pointer;
    float: right;
    font-size: 25px;}
#Satz{
    font-size: 50px; 
    color: rgb(188, 173, 109); 
    margin: 0 auto; 
    text-align: center;}
#CookiesText{
    width: 90%; 
    margin: 0px auto;}
#Jahrgangsstufe{
    display: none;}
#F11W6Eig{
    width: 30%;}

@media (max-width: 1200px) {
    .slideContainer, .textContainer {
        width: 80%;}
    h1, h2 {
        font-size: 30px;}
    .toggle-button{
        display: none;}
    .nav-Menü{
        display: block}
th{
    width: 50%;
    padding: 50px 10px;
    border-right: 2px solid rgb(188, 173, 109)}}


@media (max-width: 768px) {
    .platzmacher {
        padding-top: 100px;
        padding-bottom: 100px;}
    .slideContainer{
        width: 100%;
        padding-top: 0px;
        padding-bottom: 10px;}
    .textContainer, .slideContainer{
        margin: 0 auto;}
    #schließen{
        font-size: 20px;}
    #Satz{
        font-size: 27px;}
    #Vollmenu{
        display: none;}
    #K11{
        padding-bottom: 40px;}
    #Jahrgangsstufe{
        display: block;}
    #F11W6Eig{
        width: 80%;}
    .navMenü {
        left: -100%;}
    .toggle-button {
        display: block;}
    .navMenü li a {
        font-size: 30px;
        padding: 15px;
        width: 100%;
        height: 20vh;
        max-height: 35px;}
    .logoFW6 {
        width: 50px;}
    .logout {
        width: 50px;
        height: 35px;}
    .navMenü.active {
        left: 0;}
    .logoFW6Static{
        position: absolute;
        z-index: 1;
        left: 5%;
        top: 25px;
        width: 70px;}
    #CookiesText{
        width: 80%;
        font-size: 15px; 
        margin: 0px auto}
    .CookiesBlock{
        width: 70%;}
    .toggle-container {
        display: block;
        background-color: rgb(202, 192, 148);
        padding: 10px;
        height: 60px;
        text-align: center;}
    .vor, .nach {
            display: none;}
    .Hauptbild {
        width: 100%;
        height: auto;}
    h1, h2, h4{
        font-size: 20px;}
    h3{
        font-size: 15px;}
    footer{
        width: 80%;
        font-size: 15px}
    div, p, button{
        font-size: 17px;}
    th{
        font-size: 15px;
        max-width: 60%;
        padding: 25px 5px;}}


@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}}


html,body{
    overflow-x: hidden;}
h1,h2,h3,h4,h5,h6{
    font-size: 45px;}
body{
    background-color: rgb(50, 51, 52);
    margin: 0;
    color: white; 
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;}
img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;}

footer{
    background-color: rgb(188, 173, 109); 
    padding: 5px; 
    width: 100%; 
    font-size: 20px;
    position: absolute;}
hr{
    margin-top: 70px;
    width: 90%;
    border-color: rgb(188, 173, 109);}
button{
    outline: none;}

li{
    float: left;}
li a{ 
    padding: 14px 16px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 35px;}
li a:hover{
    background-color: rgb(188, 173, 109);}
ul{
    list-style-type: none; 
    background-color: rgb(221, 213, 184);
    overflow: hidden;
    padding: 0px;
    margin: 0px;}
th{
    width: 50%;
    padding: 50px 10px;
    border-right: 2px solid rgb(188, 173, 109)}
tr{
    border-bottom: 2px solid rgb(188, 173, 109);}
table{
    width: 80%;
    position: flex;
    left: 50%;
    border-collapse: collapse;
    justify-content: center};


@keyframes SlideIn {
    from{ transform: translateX(100%);
            opacity: 0;}
    to{transform: translateX(0);
            opacity: 1;}}
