@media (max-width: 1200px) {
    .slideContainer, .textContainer {
        width: 80%;}
    h1, h2 {
        font-size: 30px;}
    .toggle-button{
        display: none;}
    .nav-Menü{
        display: block}
    th{
        width: 50%;
        padding: 50px 10px;
        border-right: 2px solid rgb(188, 173, 109)}}

@media (max-width: 768px) {
    .platzmacher {
        padding-top: 100px;
        padding-bottom: 100px;}
    .slideContainer{
        width: 100%;
        padding-top: 0px;
        padding-bottom: 10px;}
    .textContainer, .slideContainer{
        margin: 0 auto;}
    #schließen{
        font-size: 20px;}
    #Satz{
        font-size: 27px;}
    #Vollmenu{
        display: none;}
    #K11{
        padding-bottom: 40px;}
    #Jahrgangsstufe{
        display: block;}
    #F11W6Eig{
        width: 80%;}
    .navMenü {
        left: -100%;}
    .toggle-button {
        display: block;}
    .navMenü li a {
        font-size: 30px;
        padding: 15px;
        width: 100%;
        height: 20vh;
        max-height: 35px;}
    .logoFW6 {
        width: 50px;}
    .logout {
        width: 50px;
        height: 35px;}
    .navMenü.active {
        left: 0;}
    .logoFW6Static{
        position: absolute;
        z-index: 1;
        left: 5%;
        top: 25px;
        width: 70px;}
    #CookiesText{
        width: 80%;
        font-size: 15px; 
        margin: 0px auto}
    .CookiesBlock{
        width: 70%;}
    .toggle-container {
        display: block;
        background-color: rgb(202, 192, 148);
        padding: 10px;
        height: 60px;
        text-align: center;}
    h1, h2, h4{
        font-size: 20px;}
    h3{
        font-size: 15px;}
    footer{
        width: 80%;
        font-size: 15px}
    div, p, button{
        font-size: 17px;}
    th{
        font-size: 15px;
        max-width: 60%;
        padding: 25px 5px;}
    .Notizbuch{
            left: 405px;}
    .infoText{
            left: 580px;}
    .Karte{
            margin-left: 50px;}}

@media (max-width: 480px) {
    .logoFW6 {
        width: 50px;
        height: 25px;}
    .Hauptbild {
        width: 100%;
        height: auto;}
    h1 {
        font-size: 24px;}
    .vor, .nach {
        display: none;}}


@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}}




        




    